<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <p-toolbar class="my-toolbar" [style]="{ 'height': '60px' }">
    <div class="container">
      <div class="row">
        <div class="col-3 ">
          <a style="color: dodgerblue; font-weight: bold; font-size: 20px; text-decoration: none;" href="/">
            Ép pê tê Sốp Que</a>
        </div>
        <div class="col-7"></div>
        <div class="col-2 row">
          <span>
            <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-info ml-3"></p-button>
          </span>
          <span>
            <h6 class="user ml-2">Admin</h6>
          </span>
        </div>
      </div>
    </div>
  </p-toolbar>
  <script src="../../node_modules/jquery/dist/jquery.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>
<router-outlet></router-outlet>
