<div class="container">
  <header>
    <h4 style="margin-left: 50px; color: darkblue;" >Candidate Management</h4>
    <div class="row align-center mt-5" style="height: 50px; margin-left: 10px;">
      <h6 style=" color: darkblue;" class="col-4">Danh sách Candidate</h6>
      <div class="col-4 ">
      </div>
      <div class="col-3">
        <div class="input-group w-100 row">
          <div class="input-group-text">
            <p-button icon="pi pi-search" styleClass="p-button-rounded p-button-success p-button-text"></p-button>
            <input class="w-100" type="text" placeholder="Search...." style="border: 0;">
          </div>
        </div>
      </div>
    </div>
  </header>

  <body class="container mt-5">
    <p-table [paginator]="true" [rows]="8" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[8, 16]"
      [value]="listInterviewers" (sortFunction)="customSort($event)" [customSort]="true"
      [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="Name" style="width:14%">Name <p-sortIcon field="Name"></p-sortIcon></th>
          <th style="width:14%">PhoneNum </th>
          <th pSortableColumn="Email" style="width:14%">Email <p-sortIcon field="Email"></p-sortIcon></th>
          <th pSortableColumn="ApplyDate" style="width:14%">Apply Date <p-sortIcon field="ApplyDate"></p-sortIcon></th>
          <th pSortableColumn="Status" style="width:14%">Status <p-sortIcon field="Status"></p-sortIcon></th>
          <th style="width:14%">Activity</th>
          <th style="width:14%">Point</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-interviewer>
        <tr>
          <td>{{interviewer.Name}}</td>
          <td>09099999996</td>
          <td>{{interviewer.UpdateBy}}</td>
          <td>{{interviewer.ApplyDate}}</td>
          <td *ngIf="interviewer.Status == 'Accept'">
            <button class="btn btn-success"> {{interviewer.Status}}</button>
          </td>
          <td *ngIf="interviewer.Status == 'Cancel'">
            <button class="btn btn-primary"> {{interviewer.Status}}</button>
          </td>
          <td *ngIf="interviewer.Status == 'Pending'">
            <button class="btn btn-warning" disabled> {{interviewer.Status}}</button>
          </td>
          <td>
            <p-button icon= "pi pi-send" styleClass="p-button-primary mr-2"></p-button>
            <p-button icon="pi pi-trash" styleClass="p-button-danger"></p-button>
          </td>
          <td><button class="btn btn-primary"> 10.00</button></td>
        </tr>
      </ng-template>
    </p-table>
  </body>
</div>
