<div class="container">
  <header>
    <h6 style="margin-left: 50px; color: darkblue;">Recuitment Management</h6>
    <div class="row align-center" style="height: 50px; margin-left: 20px; margin-top: 20px;">
      <div class="col-8 ml-5">
        <div class="input-group w-100 row">
          <div class="input-group-text col-9">
            <input class="w-100" type="text" placeholder="Search Jobs" style="border: 0;">
            <p-button icon="pi pi-search" styleClass="p-button-rounded p-button-success p-button-text"></p-button>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col-3">
        <p-button label="Create New Job" icon="pi pi-check" (click)="showDialog()" class="p-button-sm ml-5"></p-button>
      </div>
    </div>
  </header>

  <body>
    <div class="cards container mr-5">
      <ng-container *ngFor="let job of jobsData">
        <p-card [style]="{ height: '300px' }" class="card">
          <ng-template pTemplate="header">
            <div class="header-card">
              <span><img src="../../assets/3586361_location_map_navigation_pointer_icon.png"
                  style="width: 30px; height: 100%" /></span>
              <small style="font-size: 8px;">{{job.Location}}</small>
              <span class="button-card">
                <p-button (click)="showEditDialog(job)" class="p-button-sm">Edit</p-button>
                <p-button class="p-button-sm" styleClass="p-button-danger"
                  [style]="{ 'margin-left': '.5em' }">Delete</p-button></span>
            </div>
          </ng-template>
          <div class="h-50">
            <h6 style="text-align: center;">{{job.JobTitle}} ({{job.JobDescription}})</h6>
          </div>
          <div class="descripton">
            <ul>
              <li>● {{job.JobDescription}}</li>
              <li>● {{job.JobRequirement}}</li>
              <li>● {{job.Salary}}</li>
              <li>● {{job.Contact}}</li>
            </ul>
          </div>
          <ng-template pTemplate="footer">
            <p-button (click)="goToDetail(job)" label="More Detail" icon="pi" class="p-button-sm footer-button"
              [style]="{'width':'100%'}"></p-button>
          </ng-template>
        </p-card>
      </ng-container>
      <p-paginator [rows]="8" (onPageChange)="paginate($event)" [totalRecords]="totalJobs.length">
      </p-paginator>
    </div>
  </body>
</div>
<!-- create dialog -->
<p-dialog header="Header" [(visible)]="dialogVisible" [style]="{ width: '500px' }">
  <ng-template pTemplate="header">
    <span style="font-weight: bolder;">Đăng Tin Tuyển Dụng</span>
  </ng-template>
  <p style="margin: 0px;">Tên Công Ty Tuyển Dụng</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newCompanyName" />
  <p style="margin: 0px;">Vị Trí Tuyển Dụng</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newJobTitle" />
  <p style="margin: 0px;">Yêu Cầu</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newJobRequirement" />
  <p style="margin: 0px;">Mô tả công việc</p>
  <ckeditor [(ngModel)]="newJobDescription" [editor]="Editor" id="classic-editor" name="classic-editor">
  </ckeditor>
  <p style="margin: 0px;">Kinh Nghiệm</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newExperience" />
  <p style="margin: 0px;">Thời hạn ứng tuyển</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newTimeOut" />
  <p style="margin: 0px;">Mức Lương</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newSalary" />
  <p style="margin: 0px;">Quyền Lợi</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newBenefit" />
  <p style="margin: 0px;">Địa Chỉ làm việc</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newLocation" />
  <p style="margin: 0px;">Liên hệ</p>
  <input  style="width: 100%;" type="text" pInputText [(ngModel)]="newContact" />
  <div class="d-flex justify-content-end">
    <p-button icon="pi pi-folder" (click)="createNewJob()" label="Create" styleClass="p-button-text"></p-button>
  </div>
</p-dialog>
<!-- update diaglog -->
<p-dialog header="Header"  [(visible)]="editDialogVisible" [style]="{ width: '500px' }">
  <ng-template pTemplate="header">
    <span style="font-weight: bolder;">Đăng Tin Tuyển Dụng</span>
  </ng-template>
  <p style="margin: 0px;">Tên Công Ty Tuyển Dụng</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="editData.CompanyName" />
  <p style="margin: 0px;">Vị Trí Tuyển Dụng</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="editData.JobTitle" />
  <p style="margin: 0px;">Yêu Cầu</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="editData.JobRequirement" />
  <p style="margin: 0px;">Mô tả công việc</p>
  <ckeditor [(ngModel)]="editData.JobDescription" [editor]="Editor" id="classic-editor" name="classic-editor">
  </ckeditor>
  <p style="margin: 0px;">Kinh Nghiệm</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newExperience" />
  <p style="margin: 0px;">Thời hạn ứng tuyển</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="editData.TimeOut" />
  <p style="margin: 0px;">Mức Lương</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="editData.Salary" />
  <p style="margin: 0px;">Quyền Lợi</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="newBenefit" />
  <p style="margin: 0px;">Địa Chỉ làm việc</p>
  <input style="width: 100%;" type="text" pInputText [(ngModel)]="editData.Location" />
  <p style="margin: 0px;">Liên hệ</p>
  <input  style="width: 100%;" type="text" pInputText [(ngModel)]="editData.Contact" />
  <div class="d-flex justify-content-end">
    <p-button icon="pi pi-folder" (click)="updateJob(editData)" label="Update" styleClass="p-button-text"></p-button>
  </div>
</p-dialog>
